<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{835,1592},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{954,495},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blade1left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{895,1174},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blade1right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{895,1124},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bladeleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,26}</string>
                <key>spriteSourceSize</key>
                <string>{98,26}</string>
                <key>textureRect</key>
                <string>{{895,1096},{98,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bladeright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,26}</string>
                <key>spriteSourceSize</key>
                <string>{98,26}</string>
                <key>textureRect</key>
                <string>{{895,1068},{98,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluefireleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,88}</string>
                <key>spriteSourceSize</key>
                <string>{147,88}</string>
                <key>textureRect</key>
                <string>{{805,365},{147,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluefireright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,88}</string>
                <key>spriteSourceSize</key>
                <string>{147,88}</string>
                <key>textureRect</key>
                <string>{{805,455},{147,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,506}</string>
                <key>spriteSourceSize</key>
                <string>{478,506}</string>
                <key>textureRect</key>
                <string>{{1,509},{478,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,506}</string>
                <key>spriteSourceSize</key>
                <string>{478,506}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{954,351},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{615,991},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{911,1306},{44,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>conductioncircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{895,982},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emptybar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,33}</string>
                <key>spriteSourceSize</key>
                <string>{127,33}</string>
                <key>textureRect</key>
                <string>{{1,1719},{127,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,105}</string>
                <key>spriteSourceSize</key>
                <string>{122,105}</string>
                <key>textureRect</key>
                <string>{{846,239},{122,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,118}</string>
                <key>spriteSourceSize</key>
                <string>{121,118}</string>
                <key>textureRect</key>
                <string>{{846,1},{121,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,116}</string>
                <key>spriteSourceSize</key>
                <string>{114,116}</string>
                <key>textureRect</key>
                <string>{{846,121},{114,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullblood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{533,1333},{128,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{481,983},{128,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullshield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,33}</string>
                <key>spriteSourceSize</key>
                <string>{127,33}</string>
                <key>textureRect</key>
                <string>{{382,1333},{127,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{911,1431},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{911,1391},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{911,1351},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{969,1},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun1left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{911,1272},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun1right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{954,377},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun2left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,48}</string>
                <key>textureRect</key>
                <string>{{396,1695},{99,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun2right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,48}</string>
                <key>textureRect</key>
                <string>{{497,1695},{99,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun3left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{236,1719},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun3right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{130,1719},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,326}</string>
                <key>spriteSourceSize</key>
                <string>{363,326}</string>
                <key>textureRect</key>
                <string>{{481,1},{363,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,326}</string>
                <key>spriteSourceSize</key>
                <string>{363,326}</string>
                <key>textureRect</key>
                <string>{{1,1391},{363,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,302}</string>
                <key>spriteSourceSize</key>
                <string>{230,302}</string>
                <key>textureRect</key>
                <string>{{366,1391},{230,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,302}</string>
                <key>spriteSourceSize</key>
                <string>{230,302}</string>
                <key>textureRect</key>
                <string>{{663,982},{230,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{835,1642},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interact.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,372}</string>
                <key>spriteSourceSize</key>
                <string>{379,372}</string>
                <key>textureRect</key>
                <string>{{1,1017},{379,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interact1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,335}</string>
                <key>spriteSourceSize</key>
                <string>{322,335}</string>
                <key>textureRect</key>
                <string>{{481,329},{322,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteorhammerleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{835,1698},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteorhammerright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{601,1367},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster1left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,314}</string>
                <key>spriteSourceSize</key>
                <string>{279,314}</string>
                <key>textureRect</key>
                <string>{{382,1017},{279,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster1right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,314}</string>
                <key>spriteSourceSize</key>
                <string>{279,314}</string>
                <key>textureRect</key>
                <string>{{481,666},{279,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster2left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,227}</string>
                <key>spriteSourceSize</key>
                <string>{235,227}</string>
                <key>textureRect</key>
                <string>{{762,753},{235,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster2right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,227}</string>
                <key>spriteSourceSize</key>
                <string>{235,227}</string>
                <key>textureRect</key>
                <string>{{598,1534},{235,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oldman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{762,666},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,246}</string>
                <key>spriteSourceSize</key>
                <string>{246,246}</string>
                <key>textureRect</key>
                <string>{{663,1286},{246,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,206}</string>
                <key>spriteSourceSize</key>
                <string>{207,206}</string>
                <key>textureRect</key>
                <string>{{805,545},{207,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{911,1469},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{374,1695},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swordleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{954,411},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swordright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{954,453},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureboxclose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,46}</string>
                <key>textureRect</key>
                <string>{{895,1224},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureboxopen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{598,1469},{60,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wandleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{835,1534},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wandright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{598,1411},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new.png</string>
            <key>size</key>
            <string>{1013,1762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a73487643029f4085e57f29c94ffdacb:faaebd32f0c26525e7a63e2bfb7594a2:4c7305d7025eb429c325946902683c29$</string>
            <key>textureFileName</key>
            <string>new.png</string>
        </dict>
    </dict>
</plist>
