<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{830,1055},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{830,1005},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blade1left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{820,907},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blade1right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{824,857},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bladeleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,26}</string>
                <key>spriteSourceSize</key>
                <string>{98,26}</string>
                <key>textureRect</key>
                <string>{{762,771},{98,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bladeright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,26}</string>
                <key>spriteSourceSize</key>
                <string>{98,26}</string>
                <key>textureRect</key>
                <string>{{762,743},{98,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluefireleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,88}</string>
                <key>spriteSourceSize</key>
                <string>{147,88}</string>
                <key>textureRect</key>
                <string>{{723,1475},{147,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluefireright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,88}</string>
                <key>spriteSourceSize</key>
                <string>{147,88}</string>
                <key>textureRect</key>
                <string>{{723,1385},{147,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,506}</string>
                <key>spriteSourceSize</key>
                <string>{478,506}</string>
                <key>textureRect</key>
                <string>{{1,509},{478,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,506}</string>
                <key>spriteSourceSize</key>
                <string>{478,506}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{567,1585},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{429,1574},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{846,1},{44,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>conductioncircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{762,554},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emptybar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,33}</string>
                <key>spriteSourceSize</key>
                <string>{127,33}</string>
                <key>textureRect</key>
                <string>{{762,640},{127,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,105}</string>
                <key>spriteSourceSize</key>
                <string>{122,105}</string>
                <key>textureRect</key>
                <string>{{762,447},{122,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,118}</string>
                <key>spriteSourceSize</key>
                <string>{121,118}</string>
                <key>textureRect</key>
                <string>{{723,1265},{121,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,116}</string>
                <key>spriteSourceSize</key>
                <string>{114,116}</string>
                <key>textureRect</key>
                <string>{{762,329},{114,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullblood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{745,1565},{128,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{615,1565},{128,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullshield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,33}</string>
                <key>spriteSourceSize</key>
                <string>{127,33}</string>
                <key>textureRect</key>
                <string>{{486,1550},{127,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{846,137},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{846,97},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{848,560},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{848,600},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun1left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{369,1574},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun1right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{762,867},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun2left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,48}</string>
                <key>textureRect</key>
                <string>{{598,1265},{99,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun2right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,48}</string>
                <key>textureRect</key>
                <string>{{481,961},{99,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun3left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{762,709},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun3right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{762,675},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,326}</string>
                <key>spriteSourceSize</key>
                <string>{363,326}</string>
                <key>textureRect</key>
                <string>{{481,1},{363,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,326}</string>
                <key>spriteSourceSize</key>
                <string>{363,326}</string>
                <key>textureRect</key>
                <string>{{1,1017},{363,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,302}</string>
                <key>spriteSourceSize</key>
                <string>{230,302}</string>
                <key>textureRect</key>
                <string>{{598,961},{230,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,302}</string>
                <key>spriteSourceSize</key>
                <string>{230,302}</string>
                <key>textureRect</key>
                <string>{{366,1017},{230,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{830,1105},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteorhammerleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{830,1203},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteorhammerright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{830,1161},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster1left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,314}</string>
                <key>spriteSourceSize</key>
                <string>{279,314}</string>
                <key>textureRect</key>
                <string>{{481,645},{279,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster1right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,314}</string>
                <key>spriteSourceSize</key>
                <string>{279,314}</string>
                <key>textureRect</key>
                <string>{{481,329},{279,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster2left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,227}</string>
                <key>spriteSourceSize</key>
                <string>{235,227}</string>
                <key>textureRect</key>
                <string>{{486,1321},{235,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster2right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,227}</string>
                <key>spriteSourceSize</key>
                <string>{235,227}</string>
                <key>textureRect</key>
                <string>{{249,1345},{235,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oldman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{846,46},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,246}</string>
                <key>spriteSourceSize</key>
                <string>{246,246}</string>
                <key>textureRect</key>
                <string>{{1,1345},{246,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{846,175},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{701,1265},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swordleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{309,1574},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swordright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{249,1574},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureboxclose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,46}</string>
                <key>textureRect</key>
                <string>{{830,957},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureboxopen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{762,799},{60,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wandleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{824,799},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wandright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{762,903},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new.png</string>
            <key>size</key>
            <string>{891,1615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a4abf369de288d10161c0186dcc74ff:f8450ee11b0fc30be80e842296d5a09e:4c7305d7025eb429c325946902683c29$</string>
            <key>textureFileName</key>
            <string>new.png</string>
        </dict>
    </dict>
</plist>
