<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{360,1241},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{421,1241},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{59,51}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{307,1229},{59,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{59,51}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{307,1290},{59,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{63,51}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{307,1164},{63,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bluefire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,88}</string>
                <key>spriteSourceSize</key>
                <string>{147,88}</string>
                <key>textureRect</key>
                <string>{{364,979},{147,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-13}</string>
                <key>spriteSize</key>
                <string>{481,509}</string>
                <key>spriteSourceSize</key>
                <string>{671,671}</string>
                <key>textureRect</key>
                <string>{{1,1},{481,509}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{319,878},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{63,65}</string>
                <key>textureRect</key>
                <string>{{319,906},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>conduction circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{361,1153},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emptyblood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{127,35}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{369,556},{127,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{369,593},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{369,703},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{369,825},{116,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fullblood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,34}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{369,484},{128,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,34}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{369,520},{128,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{443,1319},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{319,1081},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{467,1069},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{467,1112},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{60,35}</string>
                <key>spriteSourceSize</key>
                <string>{92,67}</string>
                <key>textureRect</key>
                <string>{{449,1221},{60,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{101,51}</string>
                <key>spriteSourceSize</key>
                <string>{107,61}</string>
                <key>textureRect</key>
                <string>{{364,1069},{101,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{107,34}</string>
                <key>spriteSourceSize</key>
                <string>{117,60}</string>
                <key>textureRect</key>
                <string>{{368,943},{107,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{101,29}</string>
                <key>spriteSourceSize</key>
                <string>{115,61}</string>
                <key>textureRect</key>
                <string>{{362,1122},{101,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,18}</string>
                <key>spriteSize</key>
                <string>{366,328}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{1,484},{366,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-18}</string>
                <key>spriteSize</key>
                <string>{232,304}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{1,1098},{232,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunternpc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{360,1302},{50,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meteor hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,43}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{319,953},{63,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,20}</string>
                <key>spriteSize</key>
                <string>{282,316}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{1,814},{282,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,47}</string>
                <key>spriteSize</key>
                <string>{238,230}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{251,1360},{238,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oldmannpc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{307,1124},{38,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,248}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1332},{248,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{421,1267},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{418,1310},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{61,43}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{319,1018},{61,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>treasurebox close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{96,80}</string>
                <key>textureRect</key>
                <string>{{319,814},{62,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>treasurebox open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,80}</string>
                <key>textureRect</key>
                <string>{{449,1155},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{447,1258},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{477,943},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new.png</string>
            <key>size</key>
            <string>{512,1591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:265748ab95c1807081c487e7971121bd:4a815a887fce903e2121624d98521e75:4c7305d7025eb429c325946902683c29$</string>
            <key>textureFileName</key>
            <string>new.png</string>
        </dict>
    </dict>
</plist>
